SERVER_PORT=3000

DEBUG=true

DB_HOST=localhost
DB_PORT=5432
DB_NAME=started_kit
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_LINK=postgres://postgres:postgres@localhost:5432/started_kit

JWT_ACCESS_KEY
JWT_ACCESS_TTL
JWT_REFRESH_KEY
JWT_REFRESH_TTL